@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

.box1 .text {
	padding-right: 20px;
	padding-bottom: 20px;
	font-family: 'Playfair Display', serif;
}

header {
	width: 100%;
	height: 60px;
	background-color: darkblue;
	position: fixed;
	float: left;
}

nav {
	float: left;
	line-height: 60px;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 20px 10px;
}

nav a:hover {
	background-color: white;
	color: black;
}

/*index.html*/
h1 {
	color: rgb(244, 237, 221);
	background-color: darkblue;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 400%;
	font-family: 'Titillium Web', sans-serif;
}

.box1 {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: beige;
}

.box1 .image {
	text-align: right;
}

.box1 .text {
	text-align: left;
	justify-content: center;
	flex: 50%;
	font-size: 200%;
	padding-top: 60px;

}

.box1 .text h5 {
	font-size: 20px;
	padding-top: 40px;
}

/*games.html*/
.OSS h4 {
	text-align: left;
	padding-left: 210px;
	padding-bottom: 20px;
	font-size: 40px;
	background-color: beige;
}

.MS {
	text-align: left;
	padding-left: 115px;
	padding-bottom: 20px;
	font-size: 40px;
	background-color: beige;
}

.box2,
.box3 {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: beige;
}

.box2 .image,
.box3 .image {
	text-align: left;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border: 3px solid rgb(41, 181, 246);
}

.box2 .text,
.box3 .text {
	text-align: left;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	flex: 50%;
	font-size: 150%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	line-height: 35px;
	font-family: 'Josefin Sans', sans-serif;
}

.but button {
	font-size: 20px;
	background-color: aquamarine;
	padding: 15px;
	border: none;
	border-radius: 8px;
}

.ton button {
	font-size: 20px;
	background-color: rgb(200, 40, 40);
	padding: 15px;
	border: none;
	border-radius: 8px;
}

button:hover {
	background-color: lightgray;
}

/*rb.html*/
.ingdeck {
	display: flex;
	flex-direction: column;
	background-color: rgb(193, 219, 241);
	padding-top: 10px;
	padding-left: 20px;
	align-items: center;
	font-size: 15px;
}

.ingdeck h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

.ingdeck ul {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 200px;
	padding-left: 100px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 21px;
}

.ingdeck ul h6 {
	font-size: 15px;
	padding-bottom: 20px;
	padding-right: 10px;
}

.card {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 45px;
	color: brown;
	padding: 20px 210px 20px 210px;
	font-family: 'Teko', sans-serif;
}

.card .ingcard {
	padding-right: 350px;
}

.card .actcards {
	padding-left: 350px;
}

/*.ingdeck ul .com,
.rare,
.epic {
	padding: 36px 10px;
	margin-right: 40px;
}*/

.ing {
	display: flex;
	flex-direction: row;
	padding-right: 230px;
}

.ingdeck ul .actcard {
	padding-left: 240px;
}

.setup {
	display: flex;
	flex-direction: column;
	background-color: bisque;
	padding: 0px 20px 0px 20px;
	padding-bottom: 20px;
	line-height: 30px;
	font-family: 'Space Grotesk', sans-serif;
}

.menu {
	font-family: 'Klee One', cursive;
	font-size: 15px;
}

.menu .na {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 10px 90px 10px 430px;
	background-color: rgb(208, 226, 243);
}

.menu h3 {
	padding: 10px 100px 10px 30px;
}

.menu .mn {
	display: flex;
	flex-direction: row;
	text-align: left;
	background-color: rgb(208, 226, 243);
	padding: 10px 15px 5px 300px;

}

.menu .mn div {
	padding: 0px 40px 10px 0px;
}

h5 {
	font-size: 20px;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {

	.box1,
	.box2,
	.box3 {
		display: flex;
		flex-direction: column;
	}

	.box2-5,
	.box3-5 {
		padding-top: 20px;
	}

	.OOS,
	.MS {
		padding-top: 20px;
	}

	.ingdeck,
	.setup,
	.menu {
		display: flex;
		flex-direction: column;
	}

	.card {
		display: none;
	}

	.ingdeck ul {
		display: flex;
		flex-direction: column;
	}

	.ing {
		flex-direction: column;
		text-align: center;
		margin-left: 100px;
		padding-left: 300px;
		padding-bottom: 30px;
	}

	.actcard {
		flex-direction: column;
		text-align: center;
		margin-right: 30px;
	}

	.menu .na {
		flex-direction: row;
		text-align: left;
	}
}